<!DOCTYPE html>
<head>
    <title>Document</title>
</head>
<body>
    <form method="post" action="/add-category">
        <div>
          <h3>Add</h3>
          <label for="usrnm" class="ui-hidden-accessible"></label>
          <input type="text" name="category[title]" id="usrnm" placeholder="Title">
          <label for="pswd" class="ui-hidden-accessible"></label>
          <input type="text" name="category[image]"  placeholder="Img URL">
          <button type="submit" class="btn btn-secondary">OK</button>
          <button type="button" class="btn btn-secondary">Cancel</button>
        </div>
      </form>
</body>
</html>


