<!DOCTYPE html>

<head>
    <title>Customize menu</title>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
        crossorigin="anonymous">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css">    
    <link rel="stylesheet" href="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.css">
    <script src="https://code.jquery.com/jquery-1.11.3.min.js"></script>
    <script src="https://code.jquery.com/mobile/1.4.5/jquery.mobile-1.4.5.min.js"></script>
    <link rel="stylesheet" href="/css/customize-menu.css">
</head>

<body>

    <div class="container">
        <div class="headlineWrapper">
            <h1 id="h1">
                    <img 
                    class="cmPic" src="https://www.brandeps.com/icon-download/S/Settings-01.svg" alt="Settings Icon Vector">
                Customize menu</h1>
        </div>
        <div class="row">
            <% for(var i=0; i<Categories.length; i++){%>
            <div class="col-lg-4 col-sm-6">
                <div class="thumbnail">
                    <div>
                        <span class="thumbnailHeader"><%= Categories[i].title %></span>
                        <i style="font-size:36px" class="fa">&#xf00d;</i>
                        <i class="fa fa-edit" style="font-size:38px"></i>
                    </div>

                    <img src="<%= Categories[i].image %>">
                
                </div>
            </div>
            <% } %> 
        <div class="col-lg-4 col-sm-6">
            <div class="thumbnail" id="fixPlus">
                <a href="/add-category" class="ui-btn ui-btn-inline" id="fixPopUpAdd">
                    <img class="plusBtn" src="/images/greyPlusIcon.png">
                    
                </a>
            </div> 
        </div>

        </div>
       
 
    </div>
            
 
      


    <script src="https://code.jquery.com/jquery-3.2.1.js" integrity="sha256-DZAnKJ/6XZ9si04Hgrsxu/8s717jcIzLy3oi35EouyE=" crossorigin="anonymous"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js" integrity="sha384-Tc5IQib027qvyjSMfHjOMaLkfuWVxZxUPnCJA7l2mCWNIpG9mGCD8wGNIcPD7Txa"
        crossorigin="anonymous"></script>
        <li><a href="/logout">Logout!</a></li>
</body>

</html>