
    <div class="footerBottom">
            <style>
              .footerBottom {
              position: fixed;
              left: 0;
              bottom: 0;
              width: 100%;
              background-color: whitesmoke;
              color: black;
              text-align: center;
              font-size: 50px;
              font-family: 'Times New Roman', Times, serif;
              font-style: bold;
              }
            </style>
                <p>Copiright AlphaServices</p>
              </div>
            </div>
        
        