<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
        <link href="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/css/bootstrap-combined.min.css" rel="stylesheet" id="bootstrap-css">
        <script src="//netdna.bootstrapcdn.com/twitter-bootstrap/2.3.2/js/bootstrap.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>
        <link rel="stylesheet" type="text/css" href="semantic/dist/semantic.min.css">
        <script
          src="https://code.jquery.com/jquery-3.1.1.min.js"
          integrity="sha256-hVVnYaiADRTO2PzUGmuLJr8BLUSjGIZsDYGmIJLv2b8="
          crossorigin="anonymous"></script>
        <script src="semantic/dist/semantic.min.js"></script>
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/semantic-ui/2.2.13/semantic.min.css">
        <link rel="stylesheet" href="/css/menu.css">
        <!------ Include the above in your HEAD tag ---------->
        
        
        <div class="container">
                <table class="ui fixed table">
                        <thead>
                          <tr><th>Name</th>
                          <th>Description</th>
                          <th>Price</th>
                          
                        </tr></thead>
                        <tbody>
                          <tr>
                            <th class="th"><%= Dishes[i].name %></th>
                          </tr>
                          <tr>
                            <td>Jamie</td>
                            <td>Approved</td>
                            <td>Jamie is a kind girl but sometimes you don't really have enough room to describe everything you'd like</td>
                          </tr>
                          <tr>
                            <td>Jill</td>
                            <td>Denied</td>
                            <td>Jill is an alright girl but sometimes you don't really have enough room to describe everything you'd like</td>
                          </tr>
                        </tbody>
                      </table>
        </div>
</body>
</html>