<!DOCTYPE html>
<head>
   
    <title>Show Category</title>
</head>
<body>
        <% for(var i=0; i<Menu.length; i++){%>
            <ul>
                <li><%= Menu[i].title %></li>
            </ul>
        <% } %>

        <a href="/menu/new">ADD NEW MENU</a>
    
</body>
</html>