<!doctype html>
<head>
  <link rel="icon" href="../../../../favicon.ico">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css" integrity="sha384-BVYiiSIFeK1dGmJRAkycuHAHRg32OmUcww7on3RYdg4Va+PmSTsz/K68vbdEjh4u"
  crossorigin="anonymous">
  <link href="/css/menu-admin.css" rel="stylesheet">
</head>

<body>
    <nav class="navbar navbar-default">
        <div class="container-fluid">
            <div class="navbar-header">
                <a class="navbar-brand" href="/">Restaurant Order App</a>
            </div>
            <div class="collapse navbar-collapse">
                <ul class="nav navbar-nav navbar-right">
                    <li><a href="/login">Sign in</a></li>
                    <li><a href="/register">Sign up</a></li>
                    <li><a href="/logout">Sign out</a></li>
                </ul>
            </div>
        </div>
    </nav>
  <div id="wrapper">
    <div class="container">
      <div class="card-deck mb-3 text-center">

        <a href="/category">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Menu</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>
                  <img src="https://www.brandeps.com/icon-download/S/Settings-01.svg" alt="Settings Icon Vector">
                </li>
              </ul>
            </div>
        </a>
        </div>
        <div class="card mb-4 box-shadow">
          <a href="/orders">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Orders</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>
                  <img id="orderPic" src="http://douglife.com/wp-content/uploads/2015/12/New-Website-Checklist-1.png" alt="New Website Checklist"
                    width="248" height="255" class="alignright size-full wp-image-785">
                </li>
              </ul>
            </div>
          </a>
        </div>
        <div class="card mb-4 box-shadow">
          <a href="">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Statistics</h4>
            </div>
            <div class="card-body">
              <h1 class="card-title pricing-card-title">$29
                <small class="text-muted">/ mo</small>
              </h1>
              <ul class="list-unstyled mt-3 mb-4">
                <li>30 users included</li>
                <li>15 GB of storage</li>
                <li>Phone and email support</li>
                <li>Help center access</li>
              </ul>
            </div>
          </a>
        </div>
      </div>
    </div>
  </div>
</body>

</html>