<!doctype html>
<html lang="en">
  <head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../../../favicon.ico">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.0.10/css/all.css" integrity="sha384-+d0P83n9kaQMCwj8F4RJB66tzIwOKmrdb46+porD/OvrJ+37WqIM7UoBtwHO6Nlg" crossorigin="anonymous">


    <!-- Bootstrap core CSS -->
    <link href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.0/css/bootstrap.min.css" rel="stylesheet">

    <!-- Custom styles for this template -->
    <link href="/css/menu-admin.css" rel="stylesheet">
  </head>

  <body>
    <div id="wrapper">
    <div class="container">
      <div class="card-deck mb-3 text-center">

        <a href="/login/panel-admin/customize-menu">
          <div class="card mb-4 box-shadow">
            <div class="card-header">
              <h4 class="my-0 font-weight-normal">Customize menu</h4>
            </div>
            <div class="card-body">
              <ul class="list-unstyled mt-3 mb-4">
                <li>
                      <img src="https://www.brandeps.com/icon-download/S/Settings-01.svg" alt="Settings Icon Vector">
                </li>
              </ul>
          </div>
        </a>
        </div>
        <div class="card mb-4 box-shadow">
          <a href="/login/panel-admin/orders">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Orders</h4>
          </div>
          <div class="card-body">
            <ul class="list-unstyled mt-3 mb-4">
                <li>
                    <img 
                    id="orderPic"
                    src="http://douglife.com/wp-content/uploads/2015/12/New-Website-Checklist-1.png" alt="New Website Checklist" width="248" height="255" class="alignright size-full wp-image-785">
                </li>
            </ul>
          </div>
          </a>
        </div>
        <div class="card mb-4 box-shadow">
          <a href="">
          <div class="card-header">
            <h4 class="my-0 font-weight-normal">Statistics</h4>
          </div>
          <div class="card-body">
            <h1 class="card-title pricing-card-title">$29 <small class="text-muted">/ mo</small></h1>
            <ul class="list-unstyled mt-3 mb-4">
              <li>30 users included</li>
              <li>15 GB of storage</li>
              <li>Phone and email support</li>
              <li>Help center access</li>
            </ul>
          </div>
          </a>
        </div>
      </div>
    </div>
    </div>


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script>window.jQuery || document.write('<script src="../../../../assets/js/vendor/jquery-slim.min.js"><\/script>')</script>
    <script src="../../../../assets/js/vendor/popper.min.js"></script>
    <script src="../../../../dist/js/bootstrap.min.js"></script>
    <script src="../../../../assets/js/vendor/holder.min.js"></script>
    <script>
      Holder.addTheme('thumb', {
        bg: '#55595c',
        fg: '#eceeef',
        text: 'Thumbnail'
      });
    </script>
  </body>
</html>
