.container{
    max-width: 960px;
    position: fixed;
    top: 50%;
    left: 50%;
    /* bring your own prefixes */
    transform: translate(-50%, -50%);
}
.jumbotron{
    color: #2c3e50;
    background-color: #ecf0f1;
}

.cmPic{
    height: 100px;
    width: 100px;
}

.plusBtn{
    height: 220px;
    width: 170px;
}

#h1{
    font-size: 40px;

}

.headlineWrapper{
    text-align: center;
    height: 100px;
    background-color: lightgray;
    margin-bottom: 20px;
    font-size: 32px;
}

.thumbnailHeader{
    font-weight: bold;
    font-size: 28px;
}

.fa{
    float: right;
    margin-right: 4px;
    margin-left: 2px;
}

#fixPopUpEdit{
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
    box-shadow: none;

}

#fixPopUpAdd{
    border: none;
    background-color: white;
    margin: 0;
    padding: 0;
    box-shadow: none;
    height: 182px;

}


#fixPlus{
    text-align: center;
}